[core]
#so you can't see with unfinished shit
fogOfWarSightRangeWhileNotBuilt:2
autoTriggerCooldownTime: 0.2s
@memory stunDebuff:number



[hiddenAction_gettingtargeted]
autoTriggerOnEvent: tookDamage(withTag='targethangar')
temporarilyAddTags: targethangar



[hiddenAction_stopgettingtargeted]
autoTrigger: if not self.numberOfUnitsInEnemyTeam(withTag='hangar1', withinRange=1000, greaterThan=0)
temporarilyRemoveTags: targethangar

[attack]
canAttackFlyingUnits: if not self.hasParent(withTag='gunOff')
canAttackLandUnits: if not self.hasParent(withTag='gunOff')
canAttackUnderwaterUnits: if not self.hasParent(withTag='gunOff')


[hiddenAction_turnOffGun]
autoTrigger: if self.hasParent
temporarilyAddTags:gunOff

[hiddenAction_turnOnGun]
autoTrigger: if not self.hasParent
temporarilyRemoveTags:gunOff

[global_resource_crystal]
displayName: Crystals
displayNameShort: Mi
hidden:false
displayWhenZero: false
displayColor:#ff3795
displayTextPrefix: Crystal:  
displayNameHideWhenIconShownInText: true
displayNameHideWhenIconShownInHUD: true
iconImage: ROOT:shared\graphics\ocua_core_slot00.png

[hiddenAction_hitstunTimer]
autoTriggerOnEvent: tookdamage(withTag="stun")
requireConditional: if not self.tags(includes="iamstunned") and not self.tags(includes="idontlikestuns") and not self.tags(includes="50k") and memory.stunDebuff < 1
setUnitMemory: stunDebuff = 5

[hiddenAction_hitstunDebuff]
autoTriggerOnEvent: tookDamage(withTag="stun")
requireConditional: if not self.tags(includes="iamstunned") and not self.tags(includes="idontlikestuns") and not self.tags(includes="50k")
setUnitStats: moveSpeed = 0, maxAttackRange = 0
temporarilyAddTags: iamstunned

[hiddenAction_decrementStunDebuff]
autoTrigger: if memory.stunDebuff > 0
setUnitMemory: stunDebuff = memory.stunDebuff -1

[hiddenAction_stunDebuffDeactivate]
autoTrigger: if memory.stunDebuff == 0
requireConditional: if self.tags(includes="iamstunned")
resetUnitStats: true
temporarilyRemoveTags: iamstunned

[hiddenAction_hitbigstunTimer]
autoTriggerOnEvent: tookdamage(withTag="bigstun")
requireConditional: if not self.tags(includes="iamstunned") and not self.tags(includes="idontlikestuns") and not self.tags(includes="50k") and memory.stunDebuff < 1
setUnitMemory: stunDebuff = 10

[hiddenAction_hitbigstunDebuff]
autoTriggerOnEvent: tookDamage(withTag="bigstun")
requireConditional: if not self.tags(includes="iamstunned") and not self.tags(includes="idontlikestuns") and not self.tags(includes="50k")
setUnitStats: moveSpeed = 0, maxAttackRange = 0
temporarilyAddTags: iamstunned


[global_resource_holmium]
displayName: Holmium
displayNameShort: Ho
hidden:false
displayWhenZero: false
displayColor:#a20032
displayTextPrefix: Holmium:  
displayNameHideWhenIconShownInText: true
displayNameHideWhenIconShownInHUD: true
iconImage: ROOT:shared\graphics\48px-Holmium_plate.png

#Aea yoink
[global_resource_maxFabs]
#new fabricator limit
displayPos: 3
displayName: maxfabs
hidden: false
displayNameShort: Eco Limit
displayNameShort_ru: Эко-Лимит
displayName_zh: 最大数量资源制造仪
displayColor: #f9a602
displayWhenZero: false
displayTextPrefix: LIMIT 
displayTextPostfix: $
hidden:true

#tags:repairable
#-temporarily disabled

#[hiddenAction_noRepairWhileAttacked]
#autoTrigger: if self.hasTakenDamage(withinSeconds = 3)
#temporarilyRemoveTags:repairable

#[hiddenAction_noRepairWhileAttacked_revert]
#autoTrigger: if self.hasTakenDamage(laterThanSeconds = 3)
#temporarilyAddTags:repairable
