
[core]
name: glint
mass: 0
radius: 5
price: 0
maxHp: 1

showInEditor: false
showOnMinimap: false

ignoreInUnitCapCalculation: true

fogOfWarSightRange: 0
disableAllUnitCollisions: true
isUnrepairableUnit: true
isUnselectable: true
canNotBeDirectlyAttacked: true

explodeOnDeath: false

autoTriggerCooldownTime: 0.2s



[graphics]
image: ROOT:\shared\graphics\glint.png

lock_body_rotation_with_main_turret: true



[attack]
canAttack: true
canAttackFlyingUnits: if not self.hasParent(withTag='gunOff')
canAttackLandUnits: if not self.hasParent(withTag='gunOff')
canAttackUnderwaterUnits: false
maxAttackRange: 150



[hiddenAction_prioritize]
autoTrigger: if self.isAttacking and not self.hasActiveWaypoint(type='attack') and self.numberOfUnitsInEnemyTeam(withTag='missile', greaterThan=0, withinRange=150)
addWaypoint_target_nearestUnit_tagged: missile
addWaypoint_target_nearestUnit_team: enemy
addWaypoint_type: attack
addWaypoint_prepend: true
addWaypoint_maxTime: 1s
allowMultipleInQueue:false



[turret_1]
x: 0
y: 0
projectile: 1
turnSpeed: 4
barrelY: 4

delay: 1s

aimOffsetSpread: 0

invisible: true
shoot_sound:ROOT:sounds\Oculian_Armada\ocua_glint_fire1.wav
shoot_sound_vol:0.125



[projectile_1]
life: 20
deflectionPower: -1

directDamage: 20

instant: true
moveWithParent: true

color: #9bff9b
explodeEffect: NONE
explodeEffectOnShield: NONE
beamImage: SHARED:beam3.png
beamImageEnd: SHARED:beam1_end.png



[movement]
movementType: NONE